h1 {
    background: rgb(86, 220, 86);
}
.paragraph-1{
    background: blue;
    font-size: 20px;
    color: white;
}
.paragraph-2{
    border: 10px solid red;
    border-radius: 5px;
    font-size: 24px;
    margin-bottom: 60px;
    padding-bottom: 60px;
    padding-left: 20px; 
}
.paragraph-3{
    font-weight: bold;
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
}
.paragraph-4{
    font-style: oblique;
    font-size: 24;
    text-shadow: green;
    text-align: center;
}
